flask~=3.0.3
flask-cors
torch
numpy~=1.26.4
joblib~=1.4.2
pandas~=2.2.3
scikit-learn~=1.4.2
pymysql
flask-jwt-extended~=4.7.1
bcrypt~=3.2.0
scapy~=2.6.1
scipy~=1.13.1
requests~=2.32.3
cicflowmeter~=0.2.0
pytest~=7.4.4
imblearn~=0.0
imbalanced-learn~=0.12.3